{otcms:include file="top.html"}

<div class="htmlBody">
<div class="height10"></div>
<div class="clr"></div>

<div class="mainBody">
	<div class="areaL subWebLR">
		<a id="scroll_message" name="scroll_message"></a>
		<a id="backAjaxNavHeader" href="#scroll_message"></a>
		<div class="pageBox">
		<dl>
			<dt id='areaName'>{otcms:$areaName}</dt>
			<dd class="messageBox">
					{otcms:if $tplSysArr.TS_isMessage>0}
				<div id="lastReplyBox"></div>
						{otcms:if $tplSysArr.TS_messageMode==1}
				<div id="replyWrite"></div>

				<div class="height10"></div>
				<div class="clr"></div>
						{otcms:/if}
				<div id="messageList"></div>
						{otcms:if $tplSysArr.TS_messageMode==0}
				<div class="height10"></div>
				<div class="clr"></div>

				<div id="replyWrite"></div>
						{otcms:/if}
					{otcms:else}
						<center style="font-size:14px;margin:60px 0 50px 0;">{otcms:$tplSysArr.TS_messageCloseNote}</center>
					{otcms:/if}
			</dd>
		</dl>
		</div>
		<div class="clr"></div>

	</div>
	<div class="areaR">
		{otcms:include file="news_right.html"}
	</div>
	<div class="clr"></div>
</div>
</div>
<div class="clr"></div>

{otcms:include file="bottom.html"}