{otcms:include file="top.html"}

<div class="htmlBody">
<div class="height10"></div>
<div class="clr"></div>

<input type="hidden" id="contentImgMaxWidth" name="contentImgMaxWidth" value="693" />
<div class="mainBody">
	<div class="areaL subWebLR">

		<div class="pageBox">
		<dl>
			<dt id='areaName'>{otcms:$areaName}</dt>
			<dd class="webBox"><div class="web">{otcms:$webContent}</div></dd>
		</dl>
		</div>
		<div class="clr"></div>

	</div>
	<div class="areaR">
	
		{otcms:include file="news_right.html"}

	</div>
	<div class="clr"></div>
</div>
</div>
<div class="clr"></div>

{otcms:include file="bottom.html"}