{otcms:include file="top.html"}

<input type="hidden" id="contentImgMaxWidth" name="contentImgMaxWidth" value="693" />

<div class="subArea">
	<div class="subAreaL">
		<div class="itemBox">
			<div class="itemTitle">&nbsp;&nbsp;&nbsp;{otcms:$areaName}</div>
			<div class="itemContent">
				<div class="pageBox">
				<dl>
					<dd class="webBox"><div class="web">{otcms:$webContent}</div></dd>
				</dl>
				</div>
				<div class="clr"></div>

			</div>
		</div>
	</div>
	<div class="subAreaR">
		{otcms:include file="news_right.html"}
	</div>
</div>

{otcms:include file="bottom.html"}